.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dynalight-regular {
  font-family: "Dynalight", cursive;
  font-weight: 400;
  font-style: normal;
}

.parkinsans {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

nav{
  text-align: center;
}

body{
  background-color: black;
  padding:0;
  margin:0;
}

footer{
  font-family: "Parkinsans", sans-serif;
  color: grey;
  text-align: center;
  font-weight: 200;
  font-size: x-small;
}

header{
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  color: crimson;
  text-align: center;
}

button{
  border: none;
  font-family: "Dynalight", cursive;
  color: white;
  font-size: 20px;
  background-color: grey;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

button a:any-link{
  border: none;
  font-family: "Dynalight", cursive;
  color: white;
  font-size: 20px;
  background-color: grey;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.TXT{
  text-align: right;
  margin-right: 5%;
}

.EMAIL-ME-BTN{
  width: auto;
  height: 25%;
  display: inline-block;
}

.TXT h2{
  font-family: "New Rocker", system-ui;
  color: crimson;
}

.TXT p{
  font-family: "Parkinsans", sans-serif;
  color: grey;
}